{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dionela site</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
<style>

</style>

</head>
<body>


<div class="header">

  <a href="{% url 'contact' %}" onclick="return confirm('Are you sure you want to go to the contact page?');" class="button">CONTACT</a>
<a href="{% url 'about' %}" onclick="return confirm('Are you sure you want to go to the about page?');" class="button">ABOUT</a>
<a href="{% url 'home' %}" onclick="return confirm('Are you sure you want to go to the home page?');"class="button">HOME</a>



</div>
<div class="content">
    {% block content %}

    {% endblock content %}
</div>



<script src="path/to/your/script.js"></script>


</body>
</html>